#lang_sel_list {
	height: 12px;

	ul {
		border-top: none !important;
	}
	
	li {
		float: none;
		display: inline-block;
	}

	a, 
	a:visited,
	a.lang_sel_sel:hover {
		background-color: transparent !important;
	}
}
